<%- include('../partials/head', { title: '01 - Cube 3D' }) %>
<body>
	<div class="lesson-container">
		<%- include('../partials/lesson-header', {
			lessonNumber: '01',
			lessonTitle: 'Cube 3D',
			docSlug: '01-cube',
			headerContent: `
				<div class="header-controls">
					<label class="toggle-label">
						<input type="checkbox" id="lighting-toggle">
						Lumieres
					</label>
				</div>
			`
		}) %>
		<canvas id="canvas"></canvas>
	</div>

	<%- include('../partials/importmap') %>
	<script type="module" src="/static/js/lessons/01-cube/index.js"></script>
</body>
</html>
