<%- include('../partials/head', { title: '02 - Creer des Cubes' }) %>
<body>
	<div class="lesson-container">
		<%- include('../partials/lesson-header', {
			lessonNumber: '02',
			lessonTitle: 'Creer des Cubes',
			docSlug: '02-create-cubes',
			headerContent: '<span class="cube-counter">Cubes: <span id="cube-count-display">0</span> / <span id="max-cubes">100</span></span>'
		}) %>

		<div class="lesson-content">
			<canvas id="canvas"></canvas>
			<%- include('../partials/cube-controls', { wireframeDefault: true }) %>
		</div>
	</div>

	<%- include('../partials/importmap') %>
	<script type="module" src="/static/js/lessons/02-create-cubes/index.js"></script>
</body>
</html>
