<%- include('../partials/head', { title: '03 - Lumieres' }) %>
<body>
	<div class="lesson-container">
		<%- include('../partials/lesson-header', {
			lessonNumber: '03',
			lessonTitle: 'Lumieres',
			docSlug: '03-lights',
			headerContent: '<span class="cube-counter">Cubes: <span id="cube-count-display">0</span> / <span id="max-cubes">1000</span></span>'
		}) %>

		<div class="lesson-content">
			<canvas id="canvas"></canvas>
			<%- include('../partials/cube-controls', {
				controlInfo: 'Avec AmbientLight, PointLight et DirectionalLight',
				wireframeDefault: false
			}) %>
		</div>
	</div>

	<%- include('../partials/importmap') %>
	<script type="module" src="/static/js/lessons/03-lights/index.js"></script>
</body>
</html>
