<%- include('../partials/head', { title: '04 - Controls' }) %>
<body>
	<div class="lesson-container">
		<%- include('../partials/lesson-header', {
			lessonNumber: '04',
			lessonTitle: 'Controls',
			docSlug: '04-controls',
			headerContent: '<span class="cube-counter">Cubes: <span id="cube-count-display">0</span> / <span id="max-cubes">1000</span></span>'
		}) %>

		<div class="lesson-content">
			<canvas id="canvas"></canvas>
			<%- include('../partials/cube-controls', {
				controlInfo: 'Clic gauche: rotation | Clic droit: pan | Scroll: zoom',
				wireframeDefault: false
			}) %>
		</div>
	</div>

	<%- include('../partials/importmap') %>
	<script type="module" src="/static/js/lessons/04-controls/index.js"></script>
</body>
</html>
