<%- include('../partials/head', { title: '05 - Textures' }) %>
<body>
	<div class="lesson-container">
		<%- include('../partials/lesson-header', {
			lessonNumber: '05',
			lessonTitle: 'Textures',
			docSlug: '05-textures',
			headerContent: `
				<div class="header-controls">
					<label class="upload-label">
						<input type="file" id="texture-upload" accept="image/*" hidden>
						<span class="btn btn-small">Charger texture</span>
					</label>
				</div>
			`
		}) %>
		<canvas id="canvas"></canvas>
	</div>

	<%- include('../partials/importmap') %>
	<script type="module" src="/static/js/lessons/05-textures/index.js"></script>
</body>
</html>
